body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c4deff;

}

header {
    font-family: Arial;
    font-size: 4rem;
    font-weight: bold;

    margin-bottom: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black solid 1px;

    background-color: #f1f1f1;
    border-radius: 20px;
}

.onProfile, .profile, .underProfile {
    position: relative;
}

.onProfile {
    z-index: 2;
    position: absolute;
    background-color: #009aff;
    border-radius: 50%;
    width: 25px;
    height: 30px;
    top: 145px;
    left: 270px;
    font-size: 40px;
    color: white;
    padding-left: 5px;
}

.profile {
    z-index: 1;
    background-color: #b2ffd9;
    width: 100px;
    border-radius: 50%;
    margin-top: 20px
}

.underProfile {
    z-index: 0;
    position: absolute;
    background-color: #009aff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    right: 275px;
    top: 130px;
}

.author {
    margin-top: 20px;
    margin-bottom: 0px;
}

.job {
    color: #00a6ff;
    font-weight: bold;
    font-size: 20px;
    margin: 0px
}

.info {
    text-align: center;
    font-family: Avenir;
    margin-left: 10px;
    margin-right: 10px;
}

.btn {
    margin-bottom: 20px;

}